.tarea-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Dos columnas: izquierda más grande */
  gap: 15px; /* Espacio entre columnas */
  align-items: center; /* Alinea verticalmente los contenidos */
}

.tarea-info {
  font-size: 1rem;
  color: var(--ion-color-dark);
}

.puntaje-info {
  text-align: center;
  font-size: 1.5rem;
  color: var(--ion-color-medium);
  font-weight: bold;
}

.custom-card {
  background-color: #e9e6e6; /* Cambia el color al que desees */
  border-radius: 10px; /* Opcional, para redondear los bordes */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional, para agregar sombra */
}

  