<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido "nombre del profesor"</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Grados disponibles -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Grados disponibles</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item>
      <ion-label>
        <ion-chip color="primary">
          <ion-icon name="library-outline"></ion-icon>
          <ion-label>Primer grado</ion-label>
        </ion-chip>
      </ion-label>
      <ion-button fill="outline" slot="end" routerLink="/docente">
        <ion-icon slot="icon-only" name="enter-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-chip color="primary">
          <ion-icon name="library-outline"></ion-icon>
          <ion-label>Segundo grado</ion-label>
        </ion-chip>
      </ion-label>
      <ion-button fill="outline" slot="end" routerLink="/docente">
        <ion-icon slot="icon-only" name="enter-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-chip color="primary">
          <ion-icon name="library-outline"></ion-icon>
          <ion-label>Tercer grado</ion-label>
        </ion-chip>
      </ion-label>
      <ion-button fill="outline" slot="end" routerLink="/docente">
        <ion-icon slot="icon-only" name="enter-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-chip color="primary">
          <ion-icon name="library-outline"></ion-icon>
          <ion-label>Cuarto grado</ion-label>
        </ion-chip>
      </ion-label>
      <ion-button fill="outline" slot="end" routerLink="/docente">
        <ion-icon slot="icon-only" name="enter-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="danger" class="ion-margin-top" routerLink="/login">
    Cerrar sesion
  </ion-button>
</ion-content>
