<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Mis Recompensas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/alumno']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card class="custom-card" *ngFor="let recompensa of recompensas">
    <ion-card-header>
      <ion-card-title>{{ recompensa.nombre_recompensa }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label><strong>Curso: {{ recompensa.nombre_curso }}</strong></ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>

