<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Recompensas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/docente']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="recompensaForm" (ngSubmit)="crearRecompensa()">
    <ion-card color="light" class="card-custom">
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Detalles de la Recompensa</ion-title>
        </ion-toolbar>
      </ion-header>





            <ion-list>
              <!-- Nombre de la Recompensa -->
              <ion-item>
                <ion-label position="floating">Nombre de Recompensa</ion-label>
                <ion-input
                 type="text"
                 formControlName="nombreRecompensa"
                ></ion-input>
              </ion-item>



                <!-- Descripción -->
                <ion-item>
                  <ion-label position="floating">Descripción</ion-label>
                  <ion-input
                    type="text"
                    formControlName="descripcion"
                  ></ion-input>
                </ion-item>




                        <!-- Meta -->
                  <ion-item>
                    <ion-label position="floating">Puntos Requeridos</ion-label>
                      <ion-input
                        formControlName="valor"
                        type="number"
                    ></ion-input>
                  </ion-item>

              </ion-list>

              
    <!-- Botones -->
    <ion-row class="ion-justify-content-around" style="margin-top: 20px;">
      <ion-col>
        <ion-button
          type="submit"
          expand="full"
          color="primary"
          shape="round"
          [disabled]="recompensaForm.invalid"
        >
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
    </ion-card>

  </form>


  <ion-card>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Recompensas del Curso</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div class="scrollable-list" color="primary">
      <ion-list>
        <ion-item *ngIf="recompensas.length === 0">
          <ion-label class="no-recompensas">
            <ion-chip color="medium">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <ion-label>No hay recompensas disponibles...</ion-label>
            </ion-chip>
          </ion-label>
        </ion-item>
  
        <ion-item *ngFor="let recompensa of recompensas">
          <ion-label>
            <ion-chip color="primary" class="item-label">
              <ion-icon name="gift-outline"></ion-icon>
              <ion-label>{{ recompensa.nombre_recompensa }}</ion-label>
            </ion-chip>
          </ion-label>
          <ion-badge color="secondary" class="recompensa-badge">
            {{ recompensa.valor }}
          </ion-badge>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>
  
</ion-content>
