<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Recompensas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/docente']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="recompensaForm" (ngSubmit)="crearRecompensa()">
    <ion-card color="light" class="card-custom">
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Detalles de la Recompensa</ion-title>
        </ion-toolbar>
      </ion-header>





            <ion-list>
              <!-- Nombre de la Recompensa -->
              <ion-item>
                <ion-label position="floating">Nombre de Recompensa</ion-label>
                <ion-input
                 type="text"
                 formControlName="nombreRecompensa"
                ></ion-input>
              </ion-item>



                <!-- Descripción -->
                <ion-item>
                  <ion-label position="floating">Descripción</ion-label>
                  <ion-input
                    type="text"
                    formControlName="descripcion"
                  ></ion-input>
                </ion-item>




                        <!-- Meta -->
                  <ion-item>
                    <ion-label position="floating">Puntos Requeridos</ion-label>
                      <ion-input
                        formControlName="valor"
                        type="number"
                    ></ion-input>
                  </ion-item>

              </ion-list>

              
    <!-- Botones -->
    <ion-row class="ion-justify-content-around" style="margin-top: 20px;">
      <ion-col>
        <ion-button
          type="submit"
          expand="full"
          color="primary"
          shape="round"
          [disabled]="recompensaForm.invalid"
        >
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
    </ion-card>

  </form>
</ion-content>
